#main
  h1.animated.fadeInUpBig Hello world!
  p the template by CHAU TRUNG BAO NGOC( Jade Chau )
  ul.fadeInUpBig
    - list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"]
      each item in list
        li= item
  p
    span(style="display:block;") block 1
    | until block 1